<% layout 'boilerplate' %>	

<div class = "row">
	<div class = "col-lg-6 col-md-offset-3">
		<h2>Login with Facebook</h2>

		<hr />

		<a class = "btn btn-block btn-social btn-google btn=lg" href = '/auth/google'>
			<i class = "fa fa-google"></i> Sign in with Google
		</a>

	</div>
</div>